//↓dossier abstracts↓
@use "abstracts/_functions.scss";
@use "abstracts/_mixins.scss";
@use "abstracts/_placeholders.scss";
@use "abstracts/_variables.scss";
//↓dossier base↓
@use "base/_reset.scss";
@use "base/_typo.scss";
//↓dossier components↓
@use "components/cards.scss";
//↓dossier layout↓
@use "layout/grid.scss";
//↓dossier pages↓
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
@use "pages/home.scss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Bebas+Neue&family=Anton&family=Dosis:wght@200..800&display=swap");
$font-primary: "Orbitron", serif;
$font-secondary: "Bebas Neue", serif;
$font-tertiary: "Dosis", sans-serif;
$standar-font-size: 1.2rem;
$medium-font-size: 1.7rem;
$big-font-size: 2.9rem;
$header-txt-shad: 0px 0px 5px #000;
$with-txt-shad: 0px 0px 3px #fff;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  & header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    height: auto;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(213, 110, 110, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    overflow: hidden;
    & .header__title {
      font-weight: 400;
      height: auto;
      width: 20ch;
      letter-spacing: 2px;
      font-family: $font-primary;
      font-size: $big-font-size;
      color: #fff;
      text-shadow: $header-txt-shad;
    }
    & .header__nav {
      margin: 0;
      height: auto;
      min-width: 50vw;
      & .nav__ul {
        height: auto;
        min-width: 50vw;
        & .nav__li {
          letter-spacing: 2px;
          font-family: $font-secondary;
          list-style-type: none;
          & .nav__li--link {
            color: #fff;
            font-size: $medium-font-size;
            text-decoration: none;
          }
          & .nav__li--link:hover {
            text-shadow: $header-txt-shad;
          }
          & .nav__li--link:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  & main {
    height: auto;
    width: 100%;
    overflow: hidden;
    & .vid__container {
      height: 80vh;
      width: 100%;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      & .main__info--vid {
        margin: 0;
        height: auto;
        width: 100%;
        opacity: 0.8;
      }
    }
    & .main__hr--A {
      height: 0.5vh;
      width: 70vw;
      border: none;
      border-radius: 50px;
      background: radial-gradient(
        circle,
        rgba(213, 110, 110, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      );
      filter: drop-shadow(0px 0px 3px #000);
    }
    & .main__hr--B {
      height: 0.5vh;
      width: 35vw;
      border: none;
      border-radius: 50px;
      background: radial-gradient(
        circle,
        rgba(213, 110, 110, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      );
      filter: drop-shadow(0px 0px 3px #000);
    }
    & .main__hr--C {
      height: 0.5vh;
      width: 16vw;
      border: none;
      border-radius: 50px;
      background: radial-gradient(
        circle,
        rgba(213, 110, 110, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      );
      filter: drop-shadow(0px 0px 3px #000);
    }

    & .main_content {
      height: auto;
      width: 100%;
      overflow: hidden;
      & .home__container,
      .signup__container,
      .login__container {
        margin: 0;
        padding: 0;
        height: 65vh;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        & .main__subtitle {
          font-size: $standar-font-size;
          font-family: $font-tertiary;
        }
        & .main__info--txt {
          text-align: left;
          max-width: 60ch;
          font-size: $medium-font-size;
          font-family: $font-tertiary;
          letter-spacing: 2px;
          line-height: 50px;
          color: #fff;
          text-shadow: $header-txt-shad;
        }
        & .main__info--txt > span {
          font-family: $font-primary;
          font-size: 5rem;
          color: #fff;
        }
        & .main__info--txt > strong {
          letter-spacing: 5px;
          word-spacing: 2px;
          font-size: $medium-font-size;
          border-bottom: 3px solid #000;
          color: rgb(151, 204, 227);
        }
        & .main__article--container {
          margin: 0;
          padding: 0;
          height: 50vh;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-around;
        }
        & .sign__field {
          height: 46vh;
          width: auto;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: space-around;
          border-radius: 10px;
          padding: 5px;
          background-color: rgba(255, 255, 255, 0.805);
          & legend {
            font-size: $medium-font-size;
            font-family: $font-secondary;
            color: #000;
            letter-spacing: 2px;
            text-align: center;
            text-decoration: underline;
            text-shadow: $with-txt-shad;
          }
          & form {
            height: 43vh;
            width: auto;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-evenly;
            & label {
              letter-spacing: 2px;
              font-family: $font-secondary;
            }
            & input[type="text"],
            & input[type="email"],
            & input[type="tel"],
            & input[type="date"],
            & input[type="password"],
            & select {
              height: 2.5vh;
              width: 15vw;
              background: transparent;
              border-radius: 10px;
              border: 1px solid #fff;
              color: #000;
            }
            & input[type="text"]:focus,
            & input[type="email"]:focus,
            & input[type="tel"]:focus,
            & input[type="password"]:focus {
              background-color: #fff;
            }
            & input[type="submit"] {
              height: 3vh;
              width: 6vw;
              border-radius: 5px;
              color: #000;
              background: transparent;
              font-size: 1.2rem;
            }
            & input[type="submit"]:hover {
              transition: 0.3s ease;
              transform: scale(1.09);
              background-color: #000;
              color: #fff;
            }
          }
        }
      }
    }
    & .interface__container--primary {
      height: 65vh;
      width: 100%;
      margin: 0;
      padding: 5px;
      background: radial-gradient(
        circle,
        rgba(213, 110, 110, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      );
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-evenly;
      & .identitie__infos {
        height: 45vh;
        width: 20vw;
        padding-left: 8px;
        border: 3px solid #fff;
        border-radius: 10px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-evenly;
        font-size: $standar-font-size;
        font-family: $font-secondary;
        color: #000;
        letter-spacing: 2px;
        font-weight: 300;

        & .identitie_name--group {
          height: auto;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-evenly;
        }
      }
      & .solde__utilisateur {
        height: 45vh;
        width: 20vw;
        padding-left: 8px;
        border: 3px solid #fff;
        border-radius: 10px;
        font-family: $font-secondary;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        & h4 {
          letter-spacing: 2px;
          margin: 0;
          font-size: $medium-font-size;
          text-decoration: underline;
        }
        & p {
          letter-spacing: 2px;
          margin: 0;
          font-size: $medium-font-size;
        }
      }
      & .transaction__infos {
        height: 45vh;
        width: 20vw;
        padding: 3px;
        border: 3px solid #fff;
        border-radius: 10px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        font-family: $font-secondary;
        & h2 {
          letter-spacing: 2px;
          margin: 0;
          font-size: $medium-font-size;
          text-decoration: underline;
        }

        & .transaction__listing {
          height: 20vh;
          width: 18vw;
          background-color: #fff;
          overflow-y: scroll;
          overflow-x: hidden;
        }
      }
      & .founds__field {
        height: 45vh;
        width: auto;
        border-radius: 10px;
        & legend {
          font-size: $medium-font-size;
          font-family: $font-secondary;
          text-align: center;
          letter-spacing: 2px;
          text-decoration: underline;
        }
        & form {
          background-color: #000;
          height: 40vh;
          width: auto;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 10px;
          & label {
            letter-spacing: 1px;
            font-family: $font-secondary;
            color: #fff;
          }
          & select {
            height: 3vh;
            width: 8vw;
          }
          & input[type="number"] {
            height: 3vh;
            width: 8vw;
          }
          & input[type="submit"] {
            text-align: center;
            height: 7vh;
            width: 5vw;
            border-radius: 10px;
            font-size: $big-font-size;
            border: 2px solid cornflowerblue;
            background-color: #000;
            color: #fff;
          }
          & input[type="submit"]:hover {
            transition: 0.3s ease;
            filter: drop-shadow(0px 0px 5px cornflowerblue);
            color: greenyellow;
          }
        }
      }
    }
  }
  & footer {
    position: relative;
    bottom: 0;
    min-height: 15vh;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(213, 110, 110, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    & .foot__container {
      padding: 5px;
      min-height: 10vh;
      width: auto;
      font-size: $standar-font-size;
      font-family: $font-primary;
      color: #fff;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      & .foot__container--sub {
        height: auto;
        width: 30vw;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        & img {
          height: 5vh;
          width: auto;
          filter: drop-shadow(0px 0px 3px #000);
        }
      }
    }
  }
  //////////////////////MIXIN//////////////////
  @mixin breakpoint($point) {
    @if $point == medium {
      @media (min-width: 600px) {
        @content;
      }
    }
    @if $point == large {
      @media (min-width: 1200px) {
        @content;
      }
    }
  }
  /*responsive*/
  @include breakpoint(medium) {
    .nav__ul {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-evenly;
    }
  }
  @include breakpoint(large) {
    .nav__ul {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
