@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Bebas+Neue&family=Anton&family=Dosis:wght@200..800&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /*responsive*/
}
body header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  height: auto;
  width: 100%;
  background: radial-gradient(circle, rgb(213, 110, 110) 0%, rgb(148, 187, 233) 100%);
  overflow: hidden;
}
body header .header__title {
  font-weight: 400;
  height: auto;
  width: 20ch;
  letter-spacing: 2px;
  font-family: "Orbitron", serif;
  font-size: 2.9rem;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
}
body header .header__nav {
  margin: 0;
  height: auto;
  min-width: 50vw;
}
body header .header__nav .nav__ul {
  height: auto;
  min-width: 50vw;
}
body header .header__nav .nav__ul .nav__li {
  letter-spacing: 2px;
  font-family: "Bebas Neue", serif;
  list-style-type: none;
}
body header .header__nav .nav__ul .nav__li .nav__li--link {
  color: #fff;
  font-size: 1.7rem;
  text-decoration: none;
}
body header .header__nav .nav__ul .nav__li .nav__li--link:hover {
  text-shadow: 0px 0px 5px #000;
}
body header .header__nav .nav__ul .nav__li .nav__li--link:hover {
  text-decoration: underline;
}
body main {
  height: auto;
  width: 100%;
  overflow: hidden;
}
body main .vid__container {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
body main .vid__container .main__info--vid {
  margin: 0;
  height: auto;
  width: 100%;
  opacity: 0.8;
}
body main .main__hr--A {
  height: 0.5vh;
  width: 70vw;
  border: none;
  border-radius: 50px;
  background: radial-gradient(circle, rgb(213, 110, 110) 0%, rgb(148, 187, 233) 100%);
  filter: drop-shadow(0px 0px 3px #000);
}
body main .main__hr--B {
  height: 0.5vh;
  width: 35vw;
  border: none;
  border-radius: 50px;
  background: radial-gradient(circle, rgb(213, 110, 110) 0%, rgb(148, 187, 233) 100%);
  filter: drop-shadow(0px 0px 3px #000);
}
body main .main__hr--C {
  height: 0.5vh;
  width: 16vw;
  border: none;
  border-radius: 50px;
  background: radial-gradient(circle, rgb(213, 110, 110) 0%, rgb(148, 187, 233) 100%);
  filter: drop-shadow(0px 0px 3px #000);
}
body main .main_content {
  height: auto;
  width: 100%;
  overflow: hidden;
}
body main .main_content .home__container,
body main .main_content .signup__container,
body main .main_content .login__container {
  margin: 0;
  padding: 0;
  height: 65vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
body main .main_content .home__container .main__subtitle,
body main .main_content .signup__container .main__subtitle,
body main .main_content .login__container .main__subtitle {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
}
body main .main_content .home__container .main__info--txt,
body main .main_content .signup__container .main__info--txt,
body main .main_content .login__container .main__info--txt {
  text-align: left;
  max-width: 60ch;
  font-size: 1.7rem;
  font-family: "Dosis", sans-serif;
  letter-spacing: 2px;
  line-height: 50px;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
}
body main .main_content .home__container .main__info--txt > span,
body main .main_content .signup__container .main__info--txt > span,
body main .main_content .login__container .main__info--txt > span {
  font-family: "Orbitron", serif;
  font-size: 5rem;
  color: #fff;
}
body main .main_content .home__container .main__info--txt > strong,
body main .main_content .signup__container .main__info--txt > strong,
body main .main_content .login__container .main__info--txt > strong {
  letter-spacing: 5px;
  word-spacing: 2px;
  font-size: 1.7rem;
  border-bottom: 3px solid #000;
  color: rgb(151, 204, 227);
}
body main .main_content .home__container .main__article--container,
body main .main_content .signup__container .main__article--container,
body main .main_content .login__container .main__article--container {
  margin: 0;
  padding: 0;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
body main .main_content .home__container .sign__field,
body main .main_content .signup__container .sign__field,
body main .main_content .login__container .sign__field {
  height: 46vh;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.805);
}
body main .main_content .home__container .sign__field legend,
body main .main_content .signup__container .sign__field legend,
body main .main_content .login__container .sign__field legend {
  font-size: 1.7rem;
  font-family: "Bebas Neue", serif;
  color: #000;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0px 0px 3px #fff;
}
body main .main_content .home__container .sign__field form,
body main .main_content .signup__container .sign__field form,
body main .main_content .login__container .sign__field form {
  height: 43vh;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
body main .main_content .home__container .sign__field form label,
body main .main_content .signup__container .sign__field form label,
body main .main_content .login__container .sign__field form label {
  letter-spacing: 2px;
  font-family: "Bebas Neue", serif;
}
body main .main_content .home__container .sign__field form input[type=text], body main .main_content .home__container .sign__field form input[type=email], body main .main_content .home__container .sign__field form input[type=tel], body main .main_content .home__container .sign__field form input[type=date], body main .main_content .home__container .sign__field form input[type=password], body main .main_content .home__container .sign__field form select,
body main .main_content .signup__container .sign__field form input[type=text],
body main .main_content .signup__container .sign__field form input[type=email],
body main .main_content .signup__container .sign__field form input[type=tel],
body main .main_content .signup__container .sign__field form input[type=date],
body main .main_content .signup__container .sign__field form input[type=password],
body main .main_content .signup__container .sign__field form select,
body main .main_content .login__container .sign__field form input[type=text],
body main .main_content .login__container .sign__field form input[type=email],
body main .main_content .login__container .sign__field form input[type=tel],
body main .main_content .login__container .sign__field form input[type=date],
body main .main_content .login__container .sign__field form input[type=password],
body main .main_content .login__container .sign__field form select {
  height: 2.5vh;
  width: 15vw;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #000;
}
body main .main_content .home__container .sign__field form input[type=text]:focus, body main .main_content .home__container .sign__field form input[type=email]:focus, body main .main_content .home__container .sign__field form input[type=tel]:focus, body main .main_content .home__container .sign__field form input[type=password]:focus,
body main .main_content .signup__container .sign__field form input[type=text]:focus,
body main .main_content .signup__container .sign__field form input[type=email]:focus,
body main .main_content .signup__container .sign__field form input[type=tel]:focus,
body main .main_content .signup__container .sign__field form input[type=password]:focus,
body main .main_content .login__container .sign__field form input[type=text]:focus,
body main .main_content .login__container .sign__field form input[type=email]:focus,
body main .main_content .login__container .sign__field form input[type=tel]:focus,
body main .main_content .login__container .sign__field form input[type=password]:focus {
  background-color: #fff;
}
body main .main_content .home__container .sign__field form input[type=submit],
body main .main_content .signup__container .sign__field form input[type=submit],
body main .main_content .login__container .sign__field form input[type=submit] {
  height: 3vh;
  width: 6vw;
  border-radius: 5px;
  color: #000;
  background: transparent;
  font-size: 1.2rem;
}
body main .main_content .home__container .sign__field form input[type=submit]:hover,
body main .main_content .signup__container .sign__field form input[type=submit]:hover,
body main .main_content .login__container .sign__field form input[type=submit]:hover {
  transition: 0.3s ease;
  transform: scale(1.09);
  background-color: #000;
  color: #fff;
}
body main .interface__container--primary {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.785);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
body main .interface__container--primary .success__msg {
  margin: auto;
  position: absolute;
  color: cornflowerblue;
  font-size: 2.9rem;
  font-family: "Bebas Neue", serif;
  animation: msg 4s ease 0s 1 normal forwards;
  text-shadow: 0px 0px 5px #000;
}
@keyframes msg {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body main .interface__container--primary .identitie__infos {
  height: 45vh;
  width: 20vw;
  border: 3px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  font-family: "Bebas Neue", serif;
  color: #000;
  letter-spacing: 2px;
  font-weight: 300;
}
body main .interface__container--primary .identitie__infos p {
  color: #fff;
}
body main .interface__container--primary .identitie__infos .identitie_name--group {
  color: #fff;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
body main .interface__container--primary .solde__utilisateur {
  height: 45vh;
  width: 20vw;
  padding-left: 8px;
  border: 3px solid #fff;
  border-radius: 10px;
  font-family: "Bebas Neue", serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
body main .interface__container--primary .solde__utilisateur h4 {
  color: #fff;
  letter-spacing: 2px;
  margin: 0;
  font-size: 1.7rem;
  text-decoration: underline;
}
body main .interface__container--primary .solde__utilisateur p {
  color: #fff;
  letter-spacing: 2px;
  margin: 0;
  font-size: 1.7rem;
}
body main .interface__container--primary .transaction__infos {
  height: 45vh;
  width: 20vw;
  padding: 3px;
  border: 3px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Bebas Neue", serif;
}
body main .interface__container--primary .transaction__infos h2 {
  color: #fff;
  letter-spacing: 2px;
  margin: 0;
  font-size: 1.7rem;
  text-decoration: underline;
}
body main .interface__container--primary .transaction__infos .transaction__listing {
  height: 20vh;
  width: 18vw;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}
body main .interface__container--primary .transaction__infos .transac__options {
  padding: 0;
  margin: 0;
  height: auto;
  width: 19vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  border-radius: 10px;
}
body main .interface__container--primary .transaction__infos .transac__options li {
  list-style-type: none;
}
body main .interface__container--primary .transaction__infos .transac__options .transac__options--items {
  color: #fff;
  letter-spacing: 1px;
}
body main .interface__container--primary .transaction__infos .transac__options .transac__options--items {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
body main .interface__container--primary .transaction__infos .transac__options .transac__options--items:hover {
  transition: 0.3s ease;
  filter: drop-shadow(0px 0px 2px cornflowerblue);
  color: cornflowerblue;
  text-decoration: underline;
}
body main .interface__container--primary .transaction__infos .transac__options .transac__options--items:hover i {
  color: greenyellow;
}
body main .interface__container--primary .founds__field {
  height: 45vh;
  width: auto;
  border-radius: 10px;
}
body main .interface__container--primary .founds__field legend {
  color: #fff;
  font-size: 1.7rem;
  font-family: "Bebas Neue", serif;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: underline;
}
body main .interface__container--primary .founds__field form {
  background-color: #000;
  height: 40vh;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}
body main .interface__container--primary .founds__field form label {
  letter-spacing: 1px;
  font-family: "Bebas Neue", serif;
  color: #fff;
}
body main .interface__container--primary .founds__field form select {
  height: 3vh;
  width: 8vw;
}
body main .interface__container--primary .founds__field form input[type=number] {
  height: 3vh;
  width: 8vw;
}
body main .interface__container--primary .founds__field form input[type=submit] {
  text-align: center;
  height: 7vh;
  width: 5vw;
  border-radius: 10px;
  font-size: 2.9rem;
  border: 2px solid cornflowerblue;
  background-color: #000;
  color: #fff;
}
body main .interface__container--primary .founds__field form input[type=submit]:hover {
  transition: 0.3s ease;
  filter: drop-shadow(0px 0px 5px cornflowerblue);
  color: greenyellow;
}
body footer {
  position: relative;
  bottom: 0;
  min-height: 15vh;
  width: 100%;
  background: radial-gradient(circle, rgb(213, 110, 110) 0%, rgb(148, 187, 233) 100%);
}
body footer .foot__container {
  padding: 5px;
  min-height: 10vh;
  width: auto;
  font-size: 1.2rem;
  font-family: "Orbitron", serif;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
body footer .foot__container .foot__container--sub {
  height: auto;
  width: 30vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
body footer .foot__container .foot__container--sub img {
  height: 5vh;
  width: auto;
  filter: drop-shadow(0px 0px 3px #000);
}
@media (min-width: 600px) {
  body .nav__ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
@media (min-width: 1200px) {
  body .nav__ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=main.css.map */
